.admin-layout{
  width: 100;
  max-width: 1920px;
  background-color: var(--color-background);
  min-height: 100vh;
  padding: 1rem;
}

.admin-layout-content{
  margin-left: 240px ;
  padding-left: 1rem;
}